<nav class="navbar navbar-expand-lg navbar-dark bg-green">
        <div class="container">
            <a class="navbar-brand" href="/">Trouve Emploi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/offres">toutes les offres</a>
                </li>
                {% if current_user.is_enterprise_account() %}
                  <li class="nav-item">
                    <a class="nav-link" href="/entreprise">géstion</a>
                  </li>
                {% endif %}
              </ul>
              <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated() %}
                  {% if current_user.is_jobseeker_account() %}
                    <il class="nav-item">
                      <a href="/profile" class="nav-link">profile</a>
                    </il>
                  {% endif %}
                  <il class="nav-item">
                    <a href="{{ url_for('users.logout') }}" class="nav-link">deconnexion</a>
                  </il>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/connexion">connexion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/inscription">inscription</a>
                </li>
                {% endif %}
              </ul>
            </div>
        </div>
      </nav>