{% extends 'base.html' %}

{% block content %}
<!-- <div class="jumbotron text-center" style="background-color: white;">
    <h3>Trouvez votre futur emploi parmi les 50 offres d'emploi disponibles</h3>
    <p>
            Étudiant, débutant ou professionnel expérimenté <strong>Field Job Search</strong> vous offre une expérience sur mesure dans votre recherche d’emploi
    </p>
    <button class="btn btn btn-outline-success">Je démarre ma rechereche</button>
</div>
<div class="content-section">
    <h1 class="text-center">Une présentation du systeme</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non perspiciatis sequi odio animi veniam aliquam, cumque omnis deleniti et tenetur voluptatem quos in, quidem, illo porro maiores iusto amet itaque?
    </p>
    <div id="root"></div>
</div> -->
<div id="root"></div>
{% endblock content %}
{% block javascript %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    
{% endblock javascript %}